#**Assignment # 2**
NAME : MUHAMMMAD ALI KHAN 

TEACHER : SIR MUHAMMAD ALI MUGHAL

PROGRAM : PYTHON PROGRAMMING

In [0]:
#1 
print("SUBJECT               |            TOTAL MARKS          |         OBTAINED MARKS ")
print("-------------------------------------------------------------------------------------------------")

math = float(input("Mathematics           |               100               |               "))
phy = float(input("Physics               |               100               |               "))
eng = float(input("English               |               100               |               "))
urdu = float(input("Urdu                  |               100               |               "))
isl = float(input("Islamiat              |               50                |               "))


total_marks = 450
obt_marks = int(math + phy + eng + urdu + isl)

percentage = obt_marks / total_marks * 100 

if percentage > 79:
  grade = "A1"
elif percentage > 69 and percentage < 79:
  grade = "A"
elif percentage > 59 and percentage < 69:
  grade = "B"
elif percentage > 49 and percentage < 59:
  grade = "C"
elif percentage > 39 and percentage < 49:
  grade = "D"
elif percentage < 39:
  grade = "NO GRADE FAILED!" 
elif percentage > 100:
  grade = "ERROR 404"
else:
  print("something went wrong please try again later")  
  
   



print("-----------------------------------------------------------------------------------------------")
print("                      |               " , total_marks , "             |              " , obt_marks)
print("-----------------------------------------------------------------------------------------------")
print("                                                                                                              ")
print("percentage : " , percentage , "%")
print("GRADE = " , grade)

SUBJECT               |            TOTAL MARKS          |         OBTAINED MARKS
-------------------------------------------------------------------------------------------------
Mathematics           |               100               |               80
Physics               |               100               |               80
English               |               100               |               80
Urdu                  |               100               |               80
Islamiat              |               50                |               40
-----------------------------------------------------------------------------------------------
                      |                450              |               360
-----------------------------------------------------------------------------------------------

percentage :  80.0 %
GRADE =  A1

In [0]:
#2

num = int(input("Enter Number: "))

if num % 2 == 0:
    print(num , "is Even")
else:
    print(num , "is Odd")

Enter Number: 3
3 is Odd

In [0]:
#3

list1 = ["ali" , "waqas" , "zahid" , "sami" , "muneer"]
print("the lenght of the list1 is :" , len(list1))

the lenght of the list1 is : 5

In [0]:
#4

total = 0

list1 = [11 , 5 , 17 , 18 , 23]  
   
for element in range(0, len(list1)): 
    total = total + list1[element] 
  
print("Sum of all elements in given list is: ", total)

Sum of all elements in given list is:  74

In [0]:
#5 

list1 = [10, 20, 4, 45, 99 , 54 , 66]
  
list1.sort() 
  
print("Largest element is:", list1[-1])

Largest element is: 99

In [0]:
#6

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
for elem in a:
  if elem > 5:
    b.append(elem)

print(b)

[8, 13, 21, 34, 55, 89]

In [0]:
print("--------------------------------------------------------------------DONE-------------------------------------------------------------------")

--------------------------------------------------------------------DONE---------------------------------------------------------------