In [0]:
print ("HELLO WORLD")

HELLO WORLD

### NAME : Muhammad Ali Khan

### Teacher Name : Sir Muhammad Ali Mughal

### Institute Name : Saylani Head Office 

---



# ***Python Programming Language***
##***Assignment # 1***

In [0]:
#1

print ("Twinkle, Twinkle, little star," '\n' + "\t" + "How I wonder what you are!" + '\n' + "\t" + "\t" + "Up above the world so high," + "\n" + "\t" + "\t" + "Like a diamond in the sky,")
print ("Twinkle, Twinkle, little star," '\n' + "\t" + "How I wonder what you are")

Twinkle, Twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky,
Twinkle, Twinkle, little star,
	How I wonder what you are

In [0]:
#2

import platform;

print(platform.sys.version)

3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0]

In [0]:
#3

from datetime import datetime
today = datetime.today()
print("Today's datetime:", today)

Today's datetime: 2019-11-01 06:16:09.251893

In [0]:
#4

radius = float(input("Radius = "))
area = 3.142*radius**2
print ("Area = " , area)

Radius = 2
Area =  12.568

In [0]:
#5

first_name = input("YOUR FIRST NAME : ")
last_name = input("YOUR LAST NAME : ")
print (last_name  , first_name )

YOUR FIRST NAME : ali
YOUR LAST NAME : khan
khan ali

In [0]:
#6

first_number = int(input("first number : "))
second_number = int(input("second number : "))
addition = first_number + second_number
print(addition)

first number : 2
second number : 2
4